<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <div th:fragment="jobTableFragment">
    <table class="job-listing" th:each="job : ${jobs}">
      <tbody>
        <tr>
          <td>ID</td>
          <td th:text="${job.id}"></td>
        </tr>

        <tr>
          <td>Name</td>
          <td th:text="${job.name}"></td>
        </tr>

        <tr>
          <td>Employer</td>
          <td th:text="${job.employer}"></td>
        </tr>

        <tr>
          <td>Location</td>
          <td th:text="${job.location}"></td>
        </tr>

        <tr>
          <td>Position Type</td>
          <td th:text="${job.positionType}"></td>
        </tr>

        <tr>
          <td>Skill</td>
          <td th:text="${job.coreCompetency}"></td>
        </tr>
      </tbody>
    </table>
    </div>
</div>
<!--<table class="job-listing">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Name</th>-->
<!--    <th>Employer</th>-->
<!--    <th>Location</th>-->
<!--    <th>Position Type</th>-->
<!--    <th>Skill</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  &lt;!&ndash; Loop through each job in the jobs list &ndash;&gt;-->
<!--  <tr th:each="job : ${jobs}">-->
<!--    <td th:text="${job.id}"></td>-->
<!--    <td th:text="${job.name}"></td>-->
<!--    <td th:text="${job.employer}"></td>-->
<!--    <td th:text="${job.location}"></td>-->
<!--    <td th:text="${job.positionType}"></td>-->
<!--    <td th:text="${job.coreCompetency}"></td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
</body>
</html>

